@tailwind base;
@tailwind components;

body {
  background-color: #cacaca;
}

h1 {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.08em;
}

.sidebar {
  @apply fixed top-0 left-0 p-10 bottom-0;
  background: #cacaca;
  width: 320px;
}

header {
  display: none;
}
.content {
  @apply p-10;
  margin-left: 320px;
}

.about {
  margin-top: 53px;
}

p {
  @apply mb-4;
  max-width: 700px;
}

@media (max-width: 640px) {
  .about {
    margin-top: 0px;
  }
  .sidebar {
    transition: transform .5s ease-in-out;
    transform: translate3d(-320px, 0, 0);
    margin-top: 60px;
  }
  .sidebar.open {
    transform: translate3d(0, 0, 0);
  }
  .content {
    margin-left: 0;
  }
  header {
    height: 60px;
  }
  header div {
    flex: 1;
  }
  header button {
    @apply ml-5 border-none;
  }
  sidebar h1, sidebar h2 {
    display: none;
  }
  body .image-container {
    @apply mx-0;
  }
}

.sidebar a.active {
  @apply underline;
}

.big-image-container img {
  @apply object-contain h-full w-full;
  max-height: calc(100vh - 5rem);
  object-position: center center;
}

.sidebar nav a {
  @apply block text-lg mb-2 font-light;
}

.thumb {
  @apply block;
}

.thumb:hover {
  opacity: .9;
  cursor: pointer;
}

input, textarea {
  @apply px-2 py-1;
}

#contact {
  max-width: 600px;
}

#contact input, #contact textarea {
  @apply w-full px-2 py-2 border border-gray-300 rounded;
}

label {
  @apply block mb-2;
}

button {
  @apply border border-gray-800 px-4 py-2 rounded;
}

.field {
  @apply py-4;
}

#gallery {
  @apply fixed left-0 top-0 right-0 bottom-0 bg-white z-10;
}

#gallery a {
  min-width: 9rem;
  width: 10%;
  position: relative;
  z-index: 11;
}

#gallery button {
  @apply fixed top-0 right-0 mt-5 mr-5 py-4 px-8 border border-gray-400 rounded z-20;
}

.image-container {
  @apply absolute top-0 right-0 bottom-0 left-0 flex justify-center items-center mx-36 my-36;
}

.caption {
  background: rgba(255, 255, 255, .6);
}

.image-container img {
  transition: opacity .2s ease-in-out;
  max-height: 100%;
  max-width: 100%;
  height: auto;
}



@tailwind utilities;
