{% layout 'layout.liquid' %}

{% block content %}

<div>
  Large format photographer specializing in HABS photo and cad drawing documentation of historic structures to provide a complete package of information about a given structure, including exterior fabric, framing and foundation and deed research for historic building owners as well as various historic organizations throughout the New England and Atlantic Province region. Other formats and digital upon request.
</div>

{% endblock %}
