{% layout 'layout.liquid' %}

{% block content %}

<div class="about">
  <p>Large format photographer specializing in HABS photo standards and CAD-drawn documentation of historic structures.</p>
  <p>Provides a complete package of information about a given structure, including exterior fabric, framing, foundation and deed research for historic building owners as well as various historic organizations throughout the New England and Atlantic Province region.</p>
  <p>Other formats and digital upon request.</p>
</div>

{% endblock %}
