<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/main.css" rel="stylesheet">
</head>
<body>
<div x-data="state()">
  <form @submit.prevent="submit()">
    <input type="file" x-ref="fileInput" @change="file=$refs.fileInput.files[0]">
    <input type="text" placeholder="caption" @model="caption">
    <button>Upload</button>
  </form>
  <div class="flex">
    {% for image in images %}
      <div class="admin-thumb">
        <button @click.prevent="deleteImage('{{ image.id }}')">Delete</button>
        <img class="w-full" src="/images/{{ image.id }}_thumb.jpg">
      </div>
    {% endfor %}
  </div>
</div>

<script src="/smartcrop.js"></script>
<script src="/cropper.js"></script>
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.3/dist/alpine.min.js"></script>
<script>
  function state() {
    return {
      file: null,
      caption: '',
      async deleteImage(id) {
        await fetch(`/api/delete-image/${id}`, {
          method: 'post'
        })
        window.location.reload()
      },
      async submit() {
        debugger
        resize(this.file, {
          outputFormat: 'canvas',
          targetWidth: 800,
          targetHeight: 800,
          crop: true
        }, (err, canvas) => {
          debugger
          canvas.toBlob(blob => {
            const fd = new FormData()
            fd.append('image', this.file)
            fd.append('thumb', blob)
            fd.append('caption', this.caption)
            fetch('/api/add-image', {
              method: 'post',
              body: fd
            }).then(() => {
              window.location.reload()
            })
          }, 'image/jpeg', 1)
        })
      }
    }
  }

</script>
</body> 
</html>
