{% layout 'layout.liquid' %}

{% block content %}
<a class="big-image-container" href="/gallery/{{ image.category }}">
   <img alt="{{ image.caption }}" src="/images/{{ image.id }}.jpg" />
</a>
{% endblock %}
